* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;   
}

.jumbotron-background {
    /*background-image: url("assets/images/purple-background.png");*/
    background-color: #CBB1D8;
}
.j-height {
    height: 35%;
}

#bottom-line {
    border-bottom: #5B4174 solid 8px;
}

#button-color {
    background-color: #5B4174;
    color: #ffffff;
}

h2 {
    font-family: 'ABeeZee', sans-serif;
}

.border-stylization {
    border-left: solid 8px #5B4174;
    border-top: solid 2px #CBB1D8;
    border-right: solid 2px #CBB1D8;
    border-bottom: solid 2px #CBB1D8;
}


#footercolor {
    background-color: #CBB1D8;
    border-top: #5B4174 solid 8px;
    text-align: center;
    flex-shrink: 0;
    color: #5B4174;
}